{
  "openapi": "3.0.0",
  "info": {
    "title": "dnnsmnstrr API",
    "description": "This is a an API for information about Dennis Muensterer",
    "contact": {
      "email": "dennismuensterer@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://next.muensterer.xyz/api",
      "description": "nextjs"
    },
    {
      "url": "https://virtserver.swaggerhub.com/dnnsmnstrr/dnnsmnstrr/1.0.0",
      "description": "SwaggerHub API Auto Mocking"
    },
    {
      "url": "/api",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "social",
      "description": "Social media links"
    },
    {
      "name": "events",
      "description": "Events in my life"
    }
  ],
  "paths": {
    "/social": {
      "get": {
        "tags": [
          "social"
        ],
        "summary": "returns links to social media accounts",
        "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "operationId": "getSocials",
        "responses": {
          "200": {
            "description": "everything worked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Socials"
                  }
                }
              }
            }
          },
          "400": {
            "description": "something went wrong"
          }
        }
      }
    },
    "/social/{type}": {
      "get": {
        "tags": [
          "social"
        ],
        "summary": "receive a redirect to a certain social media account",
        "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "operationId": "getSocialByType",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of social media account",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "everything worked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Socials"
                  }
                }
              }
            }
          },
          "400": {
            "description": "something went wrong"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "life events",
        "description": "A list of life events with timestamps, location and an optional url\n",
        "responses": {
          "200": {
            "description": "events found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Events"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Socials": {
        "required": [
          "facebook",
          "instagram",
          "twitter"
        ],
        "type": "object",
        "properties": {
          "facebook": {
            "type": "string",
            "format": "uri",
            "example": "https://www.facebook.com/dennismuensterer"
          },
          "twitter": {
            "type": "string",
            "format": "uri",
            "example": "https://www.twitter.com/dnnsmnstrr"
          },
          "instagram": {
            "type": "string",
            "format": "uri",
            "example": "https://www.instagram.com/dnnsmnstrr"
          }
        }
      },
      "Events": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Events_inner"
        }
      },
      "Events_inner": {
        "required": [
          "date_start",
          "title"
        ],
        "type": "object",
        "properties": {
          "date_start": {
            "type": "string",
            "format": "date-time"
          },
          "date_end": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "color": {
            "type": "string",
            "format": "hex"
          }
        }
      }
    }
  }
}
